$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$tilesize: 256px;

video {
}
.level0 {
  width: $tilesize * 4;
  height: $tilesize * 4;
}
.level1 {
  width: $tilesize * 2;
  height: $tilesize * 2
}
.level2 {
  width: $tilesize;
  height: $tilesize;
}



.flex {
  display: flex;

  flex-wrap: wrap;
  width: $tilesize * 4;
}
